.StackOverflowAnswer-sidebar {
    position: fixed; 
    top: 160px; 
    left: 870px;
    padding: 0px;
    margin-right: 15px;
    width: 25%; 
    overflow: hidden; 
    background: #ffffff;
    border: 1px solid #292a2c;
    border-radius: 8px;
    display: none;
}

.animation {
    animation:fade-in 0.6s cubic-bezier(.39,.575,.565,1.000) both;
}

@keyframes fade-in{
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.StackOverflowAnswer-sidebarAnswer {
    color: #4d5156;
    padding: 10px 20px;
    overflow-y: auto;
    max-height: calc(100vh - 330px);
}

.StackOverflowAnswer-sidebarAnswer > ul {
    margin-left: 18px;
}

.StackOverflowAnswer-sidebarTitle {
    display: flex;
    flex-direction: column;
    padding: 20px 22px;
    border-bottom: 1px solid rgba(150,150,150,0.3);
}

.StackOverflowAnswer-sidebarTitleMain {
    font-size: 1.67em;
    overflow: hidden;
    line-height: 1em;
    font-weight: 600;
    padding-bottom: 6px;
    color: #4d5156 !important;
}

.StackOverflowAnswer-sidebarTitleMain:hover {
    text-decoration: underline;
}

.StackOverflowAnswer-sidebarTitleUrl {
    color: #4d5156 !important;
}

.StackOverflowAnswer-sidebarTitleUrl:hover {
    text-decoration: underline;
}

.StackOverflowAnswer-sidebarTitleUrl::before { 
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Stack_Overflow_icon.svg/768px-Stack_Overflow_icon.svg.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 4px 0px -4px;
    vertical-align: middle;
    content:"";
}

[class^="buttonAnswer"] {
    background-color: #1a73e8;
    color: #ffffff;
    padding: 2px 4px;
    margin-left: 4px;
    border: none;
    border-radius: 4px;
    font: 500 14px Roboto, sans-serif;
    cursor: pointer;
}

[class^="buttonAnswer"]:focus {
    outline:0;
}

[class^="buttonAnswer"]:hover {
    background-color: #2b7de9;
}


/* prettify */
.prettyprint {
    background: #2f3640;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    border: 0 !important;
    border-radius: 4px;
    padding: 1.5px !important;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

pre.prettyprint {
    padding: 4px !important;
}

pre.prettyprint > code {
    padding: 0px !important;
}

.pln {
  color: #e6e9ed !important;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #656d78 !important;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #2f3640;
  list-style-type: decimal;
}

@media screen {
  /* string content */
  .str {
    color: #ffce54 !important;
  }
  /* keyword */
  .kwd {
    color: #cc99cc !important;
  }
  /* comment */
  .com {
    color: #656d78 !important;
  }
  /* type name */
  .typ {
    color: #4fc1e9 !important;
  }
  /* literal value */
  .lit {
    color: #ac92ec !important;
  }
  /* punctuation */
  .pun {
    color: #e6e9ed !important;
  }
  /* lisp open bracket */
  .opn {
    color: #e6e9ed !important;
  }
  /* lisp close bracket */
  .clo {
    color: #e6e9ed !important;
  }
  /* markup tag name */
  .tag {
    color: #ed5565 !important;
  }
  /* markup attribute name */
  .atn {
    color: #a0d468 !important;
  }
  /* markup attribute value */
  .atv {
    color: #ffce54 !important;
  }
  /* declaration */
  .dec {
    color: #ac92ec !important;
  }
  /* variable name */
  .var {
    color: #e6e9ed !important;
  }
  /* function name */
  .fun {
    color: #e6e9ed !important;
  }
}