#options-item {
	display: flex; 
	flex-direction: column; 
	margin-left: auto;
    margin-right: auto;
    width: 424px;
}

label {
	margin-bottom: 15px;
}

h1 {
	margin: 0px 0px 15px 0px;
	align-self: center;
	margin-right: 20px;
}

#status {
	align-self: center;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 0px;
}

#save {
	align-self: center;
	width: 100px;
	margin-right: 20px;
}